<div class="select-chart" [ngStyle]="{width: width}">
  <div class="bar" (click)="show=!show">
    <span>{{placeholder}}</span>
    <i class="arrow"></i>
  </div>
  <div class="container" *ngIf="show">
    <ul class="tabs">
      <li *ngFor="let tab of tabs" [class.actived]="pointsTag===tab.tag" (click)="showItems(tab.tag)">{{tab.title}}</li>
    </ul>
    <ul class="nodes">
      <ng-container *ngFor="let tab of tabs">
        <ng-container *ngFor="let option of tab.options">
          <li class="nodes-item" *ngIf="option.canHidden && tab.tag === pointsTag" (click)="check(option)">
            <i class="anticon" [class.anticon-check]="option.actived" [style]="optionActiveStyle(option, tab, pointsTag)"></i>
            <span [title]="option.name">{{disName(option)}}</span>
          </li>
        </ng-container>
      </ng-container>
    </ul>
  </div>
</div>