<aside>
  <ul nz-menu [nzSelectable]="false">
    <li class="user-info" nz-menu-item [class.ant-menu-item-selected]="userActived">
      <span class="menu-info" (click)="userActived=!userActived">
        <i class="icon user"></i>
        <span class="nav-text">人物信息</span>
        <i class="icon arrow icon-right"></i>
        <i class="icon arrow icon-down"></i>
      </span>
      <div class="content">
        <ng-container *ngFor="let menu of personMenus">
          <ng-container *ngIf="menu&&menu['中文名']">
            <span class="person-info">
              <ul class="info">
                <ng-container *ngFor="let item of menu | keyvalue">
                  <li *ngIf="item.key!=='个人经历'">
                    <span>{{item.key}}</span>:&nbsp; {{item.value}}
                  </li>
                </ng-container>
              </ul>
            </span>
            <div class="sub-container" *ngIf="menu['个人经历']">
              <span class="experience-container" *ngFor="let work of menu['个人经历'];index as i" [class.open]="work.open" (click)="work.open=!work.open">
                <span>
                  {{i+1}}&nbsp;&nbsp;&nbsp;{{work['起始时间']}}-{{work['结束时间']}} {{work['所在公司']}} {{work['职位']}}
                </span>
                <i class="icon arrow icon-right"></i>
                <i class="icon arrow icon-down"></i>
                <ul class="experiences">
                  <ng-container *ngFor="let witem of work | keyvalue">
                    <li *ngIf="witem.key!=='open'">
                      <span>{{witem.key}}</span>:&nbsp; {{witem.value}}
                    </li>
                  </ng-container>
                </ul>
              </span>
            </div>
          </ng-container>
        </ng-container>
      </div>
    </li>
    <li class="history-info " nz-menu-item [class.ant-menu-item-selected]="historyActived ">
      <span class="menu-info" (click)="historyActived=!historyActived ">
        <i class="icon history "></i>
        <span class="nav-text ">历史信息</span>
        <i class="icon arrow icon-right "></i>
        <i class="icon arrow icon-down "></i>
      </span>
      <ul class="histores ">
        <li *ngFor="let history of historyMenus " (click)="toSearch(history) ">
          {{history.start['company']}}/{{history.start['name']}}->{{history.end['company']}}/{{history.end['name']}}
        </li>
      </ul>
      <div class="clear-history " *ngIf="historyMenus.length ">
        <i class="icon delete "></i>
        <span (click)="clear() ">清空历史</span>
      </div>
    </li>
  </ul>
</aside>