<aside>
  <ul nz-menu [nzSelectable]="false">
    <li class="user-info" nz-menu-item [class.ant-menu-item-selected]="userActived">
      <span class="menu-info" (click)="userActived=!userActived">
        <i class="icon user"></i>
        <span class="nav-text">人物信息</span>
        <i class="icon arrow icon-right"></i>
        <i class="icon arrow icon-down"></i>
      </span>
      <div class="content" *ngIf="personMenus">
        <span class="person-info">
          <ul class="info">
            <li>
              <span>姓名:</span>
              {{personMenus['name']['full_name_cn']}}
            </li>
            <li>
              <span>出生日期:</span>
              {{personMenus['per_info']['date_of_birth']}}
            </li>
            <li>
              <span>工作单位:</span>
              {{personMenus['company']['name']}}
            </li>
            <li>
              <span>现任职位:</span>
              {{personMenus['title']}}
            </li>
            <li>
              <span>个人简介:</span>
              {{personMenus['description']}}
            </li>
          </ul>
        </span>
        <div class="sub-container">
          <span class="experience-container" *ngFor="let work of personMenus['exp']['working'];index as i" [class.open]="work.open" (click)="work.open=!work.open">
            <span>
              {{i+1}}&nbsp;&nbsp;&nbsp;{{work._from}}-{{work._to}} {{work.company}} {{work.title}}
            </span>
            <i class="icon arrow icon-right"></i>
            <i class="icon arrow icon-down"></i>
            <ul class="experiences">
              <li>
                <span>工作单位:</span>
                {{work.company}}
              </li>
              <li>
                <span>职位:</span>
                {{work.title}}
              </li>
            </ul>
          </span>
        </div>
      </div>
    </li>
    <li class="history-info " nz-menu-item [class.ant-menu-item-selected]="historyActived " (click)="historyActived=!historyActived ">
      <span class="menu-info ">
        <i class="icon history "></i>
        <span class="nav-text ">历史信息</span>
        <i class="icon arrow icon-right "></i>
        <i class="icon arrow icon-down "></i>
      </span>
      <ul class="histores ">
        <li *ngFor="let history of historyMenus " (click)="toSearch(history) ">
          {{history.start['公司名']}}/{{history.start['名字']}}->{{history.end['公司名']}}/{{history.end['名字']}}
        </li>
      </ul>
      <div class="clear-history " *ngIf="historyMenus.length ">
        <i class="icon delete "></i>
        <span (click)="clear() ">清空历史</span>
      </div>
    </li>
  </ul>
</aside>