<form (submit)="search()">
  <nz-select [(ngModel)]="searchMode" name="value" nzPlaceHolder="选择搜索模式" nzAllowClear>
    <nz-option *ngFor="let item of searchModes" [nzLabel]="item.label" [nzValue]="item.value"> </nz-option>
  </nz-select>

  <div [ngStyle]="{ display: searchMode === 'startEnd' ? 'block' : 'none' }">
    <!-- 选择起点 -->
    <nz-spin [nzSpinning]="startLoading">
      <nz-select
        class="search-point start-point"
        [nzServerSearch]="true"
        [nzDropdownClassName]="'search-bar-select'"
        nzShowSearch
        nzAllowClear
        nzPlaceHolder="Starting point"
        [(ngModel)]="start"
        name="start"
        (ngModelChange)="selected($event, 'start')"
        (nzOpenChange)="open($event)"
      >
        <ng-container *ngFor="let option of startOptions">
          <nz-option
            *ngIf="option['name']"
            nzLabel="{{option['name']}}&nbsp;{{option['c_name']}}&nbsp;{{option['p_title']}}"
            nzValue="{{option['p_id']}}"
            [nzCustomContent]="true"
          >
            <div class="option-label" (click)="getStartAndEndData(option, 'start')">
              <div class="name">{{ option.name }}</div>
              <div class="content">
                <div *ngFor="let item of option.info">
                  <span class="company">{{ item.c_name }}</span> <span class="last">{{ lastOptionLable(item) }}</span>
                </div>
              </div>
            </div>
          </nz-option>
        </ng-container>
      </nz-select>
    </nz-spin>

    <!-- 选择终点 -->
    <nz-spin [nzSpinning]="endLoading">
      <nz-select
        class="search-point end-point"
        [nzServerSearch]="true"
        [nzDropdownClassName]="'search-bar-select'"
        nzShowSearch
        nzAllowClear
        nzPlaceHolder="Ending point"
        [(ngModel)]="end"
        name="end"
        (ngModelChange)="selected($event, 'end')"
        (nzOpenChange)="open($event)"
      >
        <ng-container *ngFor="let option of endOptions">
          <nz-option
            *ngIf="option['name']"
            nzLabel="{{option['name']}}&nbsp;{{option['c_name']}}&nbsp;{{option['p_title']}}"
            nzValue="{{option['p_id']}}"
            [nzCustomContent]="true"
          >
            <div class="option-label" (click)="getStartAndEndData(option, 'end')">
              <div class="name">{{ option.name }}</div>
              <div class="content">
                <div *ngFor="let info of option.info">
                  <span class="company">{{ info.c_name }}</span> <span class="last">{{ lastOptionLable(info) }}</span>
                </div>
              </div>
            </div>
          </nz-option>
        </ng-container>
      </nz-select>
    </nz-spin>
  </div>

  <div [ngStyle]="{ display: searchMode === 'onePoint' ? 'block' : 'none' }">
    <nz-spin [nzSpinning]="onePointLoading">
      <nz-select
        class="search-point one-point"
        [nzServerSearch]="true"
        [nzDropdownClassName]="'search-bar-select'"
        nzShowSearch
        nzAllowClear
        nzPlaceHolder="Starting point"
        [(ngModel)]="onePoint"
        name="onePoint"
        (ngModelChange)="selected($event, 'end')"
        (nzOpenChange)="open($event)"
      >
        <ng-container *ngFor="let option of onePointOptions">
          <nz-option
            *ngIf="option['name']"
            nzLabel="{{option['name']}}&nbsp;{{option['c_name']}}&nbsp;{{option['p_title']}}"
            nzValue="{{option['p_id']}}"
            [nzCustomContent]="true"
          >
            <div class="option-label" (click)="getStartAndEndData(option, 'end')">
              <div class="name">{{ option.name }}</div>
              <div class="content">
                <div *ngFor="let info of option.info">
                  <span class="company">{{ info.c_name }}</span> <span class="last">{{ lastOptionLable(info) }}</span>
                </div>
              </div>
            </div>
          </nz-option>
        </ng-container>
      </nz-select>
    </nz-spin>
  </div>

  <!-- 匹配 -->
  <button class="match-btn" nz-button [nzType]="'primary'" type="submit">智配关系</button>
  <!-- 引导 -->
  <div class="search-tips">
    <img src="/assets/images/arrow-guide.png" alt="" />
    <div>请输入您的关键字，以“空格”隔开</div>
  </div>
</form>
