@import '../../../../less/mixin.less';
@import '../../../../less/variable.less';
@perfix: ant-select;
app-search-bar {
  font-size: @fontSize;
  padding-left: 1rem;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  form {
    display: flex;
    flex-direction: column;
    h2 {
      color: #fff;
      font-size: @fontSize;
      margin-bottom: 1rem;
    }
    .@{perfix} {
      // width: 31.111111rem;
      height: 2.323232rem;
      .@{perfix}-selection {
        background: #e6e6e6;
      }
      .@{perfix}-selection__placeholder {
        // padding-left: 1.919192rem;
        font-size: 0.5rem;
        font-weight: 300;
        color: #b3bac8;
      }
      &.search-point {
        .@{perfix}-selection {
          background: transparent;
          border: 0;
          border-bottom: 1px solid @borderColor;
          border-radius: 0;
          color: #fff;
        }
        .@{perfix}-selection__placeholder {
          color: #fff;
        }
        .@{perfix}-selection__clear,
        .@{perfix}-arrow {
          color: #fff;
        }
      }
    } // 已选中
    .@{perfix}.ng-valid.ng-touched {
      .@{perfix}-selection {
        background: #fff;
      }
      .@{perfix}-selection-selected-value {
        color: @fontColor;
        font-size: @fontSize;
      }
      &.search-point {
        .@{perfix}-selection {
          background: transparent;
        }
        .@{perfix}-selection-selected-value {
          color: #fff;
        }
      }
    }
    button {
      // margin-left: 2.525253rem;
      height: 2.525253rem;
      font-size: 1.111111rem;
      margin-top: 1rem;
      .bottom-shadow;
      &.ant-btn-primary:hover,
      &.ant-btn-primary:focus {
        border-color: @themeHoverColor;
        background: @themeHoverColor;
      }
    }
  }
}

.collapse {
  margin-top: 0.7rem;
}
.filter {
  * {
    color: #fff;
    .ant-slider {
      margin: 0;
      margin-top: 4px;
      margin-bottom: 30px;
      margin-left: 10px;
      margin-right: 10px;
    }
    .ant-slider-rail {
      height: 8px;
    }
    .ant-slider-track {
      height: 8px;
      background: @themeColor;
    }
    .ant-slider-dot {
      border: 0;
    }
    .ant-slider-handle {
      height: 20px;
      width: 10px;
      border: 0;
      margin-top: -7px;
      border-radius: 0;
      background: @themeColor;
    }
  }
  h5 {
    margin-top: 1rem;
  }
}

// options样式
.search-bar-select {
  .ant-select-dropdown-menu {
    background: #fff;
  }
  li {
    font-size: 0.909091rem;
    color: #6a7587;
    line-height: 3.030303rem;
    border-bottom: 1px solid #cccccc;
    font-weight: 300;
    padding: 0;
    &:last-child {
      border-bottom: 0;
    }
    .option-label {
      display: flex;
      .name {
        flex: 1;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        overflow: hidden;
      }
      .content {
        flex: 4;
        > div {
          display: flex;
          .company {
            flex: 3;
            overflow: hidden;
          }
          .last {
            flex: 1;
            overflow: hidden;
          }
        }
      }
    }
  }
}

.histores {
  padding-top: 0.909091rem;
  max-height: 15rem;
  overflow: auto;
  li {
    white-space: pre-wrap;
    color: #fff;
    margin-bottom: 0.808081rem;
    cursor: pointer;
    font-size: @fontSize;
  }
}

.clear-history {
  margin-top: 1rem;
  height: 2.020202rem;
  line-height: 2.020202rem;
  display: flex;
  justify-content: flex-end;
  color: #fff;
  font-size: @fontSize;
  span {
    cursor: pointer;
    display: inline-block;
    margin-left: 0.505051rem;
  }
}

app-search-bar {
  .ant-slider-mark {
    color: #fff;
  }
  .ant-slider-mark-text-active {
    color: #fff;
  }
  .ant-checkbox-wrapper {
    font-size: @fontSize;
  }
}
