@import '../../../../less/mixin.less';
@import '../../../../less/variable.less';
@perfix: ant-select;
app-search-bar {
  width: 100%;
  height: 6.060606rem;
  padding-left: 14.646465rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  .@{perfix} {
    width: 31.111111rem;
    height: 2.323232rem;
    .@{perfix}-selection {
      background: #e6e6e6;
    }
    .@{perfix}-selection__placeholder {
      padding-left: 1.919192rem;
      font-size: 0.808081rem;
      font-weight: 300;
      color: #b3bac8;
    }
  } // 已选中
  .@{perfix}.ng-valid.ng-touched {
    .@{perfix}-selection {
      background: #fff;
    }
    .@{perfix}-selection-selected-value {
      color: @fontColor;
      font-size: 1.111111rem;
    }
  }
  button {
    // margin-left: 2.525253rem;
    height: 2.525253rem;
    font-size: 1.111111rem;
    .bottom-shadow;
    &.ant-btn-primary:hover,
    &.ant-btn-primary:focus {
      border-color: @themeHoverColor;
      background: @themeHoverColor;
    }
  }
}

// options样式
.search-bar-select {
  background: #fff;
  li {
    height: 3.030303rem;
    font-size: 0.909091rem;
    color: #6a7587;
    line-height: 3.030303rem;
    border-bottom: 1px solid #cccccc;
    font-weight: 300;
    padding: 0;
    &:last-child {
      border-bottom: 0;
    }
    > div {
      display: flex;
      padding: 0 1.010101rem;
      justify-content: space-between;
    }
  }
}

.search-tips {
  z-index: 1;
  position: absolute;
  top: 4.191919rem;
  left: 18.151515rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  > img {
    width: 5rem;
    height: 4.5rem;
  }
  > div {
    text-align: center;
    line-height: 5.656566rem;
    width: 19.090909rem;
    height: 5.656566rem;
    color: @fontColor;
    font-size: 0.808081rem;
    margin-left: -1rem;
    margin-top: -0.8rem;
    background: #fff;
    .box-shadow;
  }
}
