@import '../../../../less/variable.less';

@titleBgColor: #f2f2f2;
@fontSize: 15px;
@height: 1.6rem;
.collapse {
  .title {
    background: @titleBgColor;
    display: flex;
    justify-content: space-between;
    color: #000;
    height: @height;
    border-radius: @borderRaduis;
    span {
      font-size: @fontSize;
      font-weight: 900;
      margin-left: 0.2rem;
    }
    i {
      display: block;
      width: 20px;
      height: 20px;
      line-height: 20px;
      text-align: center;
      font-size: @fontSize;
      &.handle {
        cursor: pointer;
        width: @height;
        height: @height;
        line-height: @height;
        text-align: center;
        font-size: @height;
      }
    }
  }
  .content {
    overflow: hidden;
    transition: all 0.3s;
  }
}
