<nz-layout class="layout">
  <nz-header class="header">
    <img src="assets/images/logo.png" class="logo" alt="" />
    <!-- <h1>商业合作从资本关系开始</h1> -->
    <div class="tool" *ngIf="storage.get('avatarUrl') && storage.get('nickName')">
      <img class="header-person-img" alt="" [src]="storage.get('avatarUrl')" /> <span>{{ storage.get('nickName') }}</span>
    </div>
  </nz-header>
  <nz-layout class="content">
    <!-- <div class="menu" [ngStyle]="{right: offsetX}"></div> -->
    <nz-content> <router-outlet></router-outlet> </nz-content>
  </nz-layout>
</nz-layout>
