@import '../../../../less/variable.less';
.layout {
  .header {
    background: #fff;
    box-shadow: 0 2px 15px rgba(0,0,0,.15);
    .menu {
      height: 100%;
      display: flex;
      justify-content: flex-end;
      font-size: 14px;
      li {
        flex: 1;
        cursor: pointer;
      }
    }
  }
  .content {
    margin-top: 10px;
  }
}
