@size: 0.75rem;

.sa-icon {
  display: block;
  width: @size;
  height: @size;
  line-height: @size;
  text-align: center;
  font-size: @size;
  background-position: center;
  background-repeat: no-repeat;
  background-size: @size;
  &.icon-history {
    background-image: url('/assets/images/icon-history.png');
  }
  &.icon-filter {
    background-image: url('/assets/images/icon-filter.png');
  }
  &.icon-x {
    background-image: url('/assets/images/icon-x.png');
  }
  &.icon-person {
    background-image: url('/assets/images/icon-person.png');
  }
}
