@size: 0.75rem;

.sa-icon {
  display: block;
  width: @size;
  height: @size;
  line-height: @size;
  text-align: center;
  font-size: @size;
  background-position: center;
  background-repeat: no-repeat;
  background-size: @size;
  &.icon-history {
    background-image: url('/assets/images/icon-history.png');
  }
  &.icon-filter {
    background-image: url('/assets/images/icon-filter.png');
  }
  &.icon-x {
    background-image: url('/assets/images/icon-x.png');
  }
  &.icon-person {
    background-image: url('/assets/images/icon-person.png');
  }
  &.icon-company {
    background-image: url('/assets/images/icon-company.png');
  }
  &.icon-case {
    width: @size * 1.5;
    height: @size * 1.5;
    line-height: @size * 1.5;
    background-size: @size * 1.5;
    background-image: url('/assets/images/icon-case.png');
  }
  &.icon-header-person {
    background-image: url('/assets/images/icon-header-person.jpeg');
  }
  &.icon-header-menu {
    background-image: url('/assets/images/icon-header-menu.jpeg');
  }
}
