@themeColor: rgba(26, 118, 164, 0.5);
@themeHoverColor: rgba(26, 118, 164, 1);
@componentBgColor: transparent;
@fontColor: #343449;
@bgColor: rgb(81, 81, 81);
@borderRaduis: 4px;
@borderColor: #d9d9d9;