<!-- 上方留白 -->
<div class="hack" style="height: 5.050505rem"></div>
<div class="chart-container">
  <div class="chart"></div>
</div>
<div class="point-info" [class.no-boder]="!UI_nodeDetail.show">
  <ng-container *ngIf="UI_nodeDetail.show">
    <h3>{{UI_nodeDetail.date}}--{{UI_nodeDetail.id}}</h3>
    <p>{{UI_nodeDetail.txt}}</p>
  </ng-container>
</div>
<ng-container *ngIf="chartActived">
  <ng-container *ngIf="ehasFullBtn">
    <i *ngIf="fullStatus==='no'" class="anticon full-screen-btn" (click)="toFull('yes')"></i>
    <i *ngIf="fullStatus==='yes'" class="anticon full-screen-btn" (click)="toFull('no')"></i>
  </ng-container>
</ng-container>
<ng-content></ng-content>

<nz-modal class="mobile-person-detail" [(nzVisible)]="UI_modalPersonDetail" nzTitle="人物详情" nzWrapClassName="mobile-person-detail-modal-wrap" [nzStyle]="{top:0}"
          [nzBodyStyle]="{padding: 0,maxHeight: '90vh', overflow: 'auto'}" [nzOkText]="null" (nzOnCancel)="UI_modalPersonDetail=null"
          [nzMaskClosable]="false">
  <app-panel [person]="UI_modalPersonDetail"></app-panel>
</nz-modal>