@import '../../../../less/variable.less';
app-core-main {
  display: flex;
  width: 100%;
  padding: 1rem;
  background: @bgColor;
  .core-main {
    display: flex;
    flex: 1;
    background: @bgColor;
    section.core-body {
      display: flex;
      flex: 1;
      flex-direction: row;
      border-radius: @borderRaduis;
      position: relative;
      overflow: hidden;
      //
      // 内容区
      //
      .core-content {
        display: flex;
        flex-direction: column;
        border-radius: @borderRaduis;
        position: relative;
        .icon-tool {
          width: 1rem;
          height: 1rem;
          position: absolute;
          z-index: 9;
        }
        .icon-fold {
          background: url('/assets/images/icon-arrow.png') no-repeat center;
          right: 1rem;
          top: 0.9rem;
          border-radius: 6px;
          z-index: 1;
          &.no-fold {
            transform: rotate(180deg);
          }
        }
        > div.status {
          flex: 1;
          display: flex;
          background-color: #fff;
          flex-direction: column;
          border-radius: 6px;
          align-items: center;
          padding-top: 10rem;
          font-weight: 900;
          p {
            text-align: center;
            margin-top: 1.5rem;
            color: @fontColor;
            font-size: 1.111111rem;
          }
          .content {
            text-align: center;
            position: relative;
            display: flex;
            width: 40rem;
            justify-content: space-between;

            .bar {
              position: absolute;
              height: 3rem;
              width: 100%;
              left: 0;
              top: 3rem;
              background: #ccc;
              z-index: 0;
            }
            .txt {
              .bar;
              display: flex;
              z-index: 1;
              top: 0;
              background: transparent;
              > div {
                flex: 1;
                display: flex;
                &:nth-child(2) {
                  justify-content: center;
                  color: #fff;
                }
                &:last-child {
                  justify-content: flex-end;
                }
              }
              .symbol {
                width: 5rem;
                height: 5rem;
                background: linear-gradient(to right, #34cbff, #9736ff);
                margin-top: 2rem;
                color: #fff;
                line-height: 5rem;
                font-size: 16px;
                border-radius: @borderRaduis;
              }
              .start,
              .end {
                cursor: pointer;
                background: #006699;
                width: 5rem;
                height: 9rem;
                text-align: center;
                color: #fff;
                border-radius: @borderRaduis;
                display: flex;
                justify-content: center;
                flex-direction: column;
              }
            }
          }
        }
        .status.no-result {
          p {
            display: block;
            width: 25rem;
            white-space: pre-wrap;
          }
          .content {
            height: 10rem;
          }
        }
      }
    }
  }
}

.core-main {
  app-paging {
    display: flex;
    justify-content: center;
    padding-bottom: 0.5rem;
  }
}
