<nz-layout class="core-main">
  <nz-sider>
    <ul nz-menu>
      <li nz-menu-item>
        <span>
          <i class="anticon anticon-user"></i>
          <span class="nav-text">nav 1</span>
        </span>
      </li>
      <li nz-menu-item>
        <span>
          <i class="anticon anticon-video-camera"></i>
          <span class="nav-text">nav 2</span>
        </span>
      </li>
      <li nz-menu-item>
        <span>
          <i class="anticon anticon-upload"></i>
          <span class="nav-text">nav 3</span>
        </span>
      </li>
      <li nz-menu-item>
        <span>
          <i class="anticon anticon-user"></i>
          <span class="nav-text">nav 4</span>
        </span>
      </li>
    </ul>
  </nz-sider>
  <section></section>
</nz-layout>
