@import '../../../../less/variable.less';
app-core-main {
  display: flex;
  width: 100%;
  padding: 1rem;
  background: @bgColor;
  .core-main {
    display: flex;
    flex: 1;
    background: @bgColor;
    // ul.chart-color-bar {
    //   width: 32.525253rem;
    //   height: 3.131313rem;
    //   background: #fff;
    //   border-radius: 3px;
    //   display: flex;
    //   font-size: .808081rem;
    //   li {
    //     flex: 1;
    //     display: flex;
    //     align-items: center;
    //     i {
    //       background: #000;
    //       display: block;
    //       width: .909091rem;
    //       height: .909091rem;
    //     }
    //     span {
    //       margin-left: 1.010101rem;
    //     }
    //   }
    // }
    section.core-body {
      display: flex;
      flex: 1;
      flex-direction: row;
      border-radius: @borderRaduis;
      position: relative;
      //
      // 内容区
      //
      .core-content {
        display: flex;
        flex-direction: column;
        border-radius: @borderRaduis;
        position: relative;
        .icon-tool{
          width: 1rem;
          height: 1rem;
          position: absolute;
          z-index: 9;
        }
        .icon-fold {
          background: url('/assets/images/icon-arrow.png') no-repeat center;
          right: 1rem;
          top: 1rem;
          border-radius: 6px;
          &.no-fold {
            transform: rotate(180deg);
          }
        }
        > div.status {
          flex: 1;
          display: flex;
          background-color: #fff;
          flex-direction: column;
          border-radius: 6px;
          align-items: center;
          justify-content: center;
          .content {
            text-align: center;
            p {
              text-align: center;
              margin-top: 1.5rem;
              color: @fontColor;
              font-size: 1.111111rem;
            }
          }
        }
      }
    }
  }
}

.core-main {
  nz-pagination {
    display: flex;
    justify-content: center;
    padding-bottom: 0.5rem;
  }
}
