<nz-layout class="core-main">
  <section class="core-search-bar">
    <button nz-button nzType="primary" (click)="search()">匹配</button>
  </section>
  <section class="core-body">
    <aside>
      <ul nz-menu [nzSelectable]="false">
        <li [class]="item.className" nz-menu-item *ngFor="let item of siderMenus" [nzSelected]="item.actived">
          <span>
            <i class="icon {{item.icon}}"></i>
            <span class="nav-text">{{item.txt}}</span>
            <i class="icon icon-right"></i>
            <i class="icon icon-down"></i>
          </span>
          <ul class="info"></ul>
          <ul class="experiences">
            <li></li>
          </ul>
        </li>
      </ul>
    </aside>
    <section class="core-content">
      <app-chart [eoption]="option" [efullParentClassName]="'core-main'" (emouseover)="mouseoverChartEvent($event)" (eclick)="clickChartEvent($event)"></app-chart>
    </section>
    <section class="core-hack" style="width: 5%;"></section>
  </section>
</nz-layout>
