@import '../../../../less/variable.less';
app-core-main {
  display: flex;
  width: 100%;
  .core-main {
    margin-top: .757576rem;
    display: flex;
    flex: 1;
    padding-right: 5.353535rem;
    // ul.chart-color-bar {
    //   width: 32.525253rem;
    //   height: 3.131313rem;
    //   background: #fff;
    //   border-radius: 3px;
    //   display: flex;
    //   font-size: .808081rem;
    //   li {
    //     flex: 1;
    //     display: flex;
    //     align-items: center;
    //     i {
    //       background: #000;
    //       display: block;
    //       width: .909091rem;
    //       height: .909091rem;
    //     }
    //     span {
    //       margin-left: 1.010101rem;
    //     }
    //   }
    // }
    section.core-body {
      display: flex;
      flex: 1;
      flex-direction: row; //
      // 内容区
      // 
      .core-content {
        flex: 1;
        display: flex;
        flex-direction: column;
        
        >div.status {
          flex: 1;
          display: flex;
          background-color: #fff;
          flex-direction: column;
          border-radius: 6px;
          align-items: center;
          img {
            width: 30.30303rem;
            height: 20.20202rem;
            margin-top: 3rem;
          }
          p {
            text-align: center;
            margin-top: 1.5rem;
            color: @fontColor;
            font-size: 1.111111rem;
          }
        }
      }
    }
  }
}
